<body style="background-color:rgb(235, 235, 235)">
<header>
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="p-2 navbar-brand" [routerLink]="['/']">AvaliaçãoParaDev</a>
    <img src="https://raw.githubusercontent.com/dihgab/dev-web/main/JediiInc.png" width="160">
  </nav>
</header>
<section>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</section>

<footer class="mt-3 p-2 text-center">
  <a href="https://github.com/dihgab">github.com/dihgab</a>
</footer>

</body>

